{% extends 'base.html.twig' %}

{% block title %}Products by category{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>Découvez nos bouquets: {{ category.getName()}}</h1>
        <div class="products-container">
        {% for product in category.getProducts() %}
            <div class="product-card-container">
                <img class="card-img img-fluid" src="{{ asset('assets/uploads/' ~ product.image) }}" alt="iphone">
            <div class="card-content-container">
                <h2>{{ product.getName()}}</h2>
                <p class="card-text bold-text">Prix: {{ product.getPrice()}} $</p>
                <p class="card-text bold-text">Stock: {{product.getStock()}}</p>
                <p class="card-text bold-text">Categorie:</p>
                <p class="card-text bold-text">{{ product.category.getName()}}</p>
                <a class="card-btn" href="{{ path('app_product_show', {'id': product.id}) }}">Détails</a>
            </div>
            </div>
        {% else %}
                <p colspan="5">Aucun produit</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
