{% extends 'base.html.twig' %}

{% block title %}Modification de compte{% endblock %}

{% block body %}
<div class="wrapper">

<h1>Modifier votre mote de passe</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.newPassword) }}  
    {{ form_end(form) }}
</div>

{% endblock %}